<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="container">
       <div class="login-box">
            <div class="apple-btn login-apple">
                <li class="red-btn"></li>
                <li class="yellow-btn"></li>
                <li class="green-btn"></li>
            </div>
            <div class="title">Login</div>
            <div class="input">
                <input type="text" id="login-user" placeholder="Input your username">
            </div>
            <div class="input">
                <input type="password" id="login-password" placeholder="Input your password">
            </div>
            <div class="btn login-btn">
                <span>登录</span>
            </div>   
       </div>
    </div>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./script.js"></script>
</body>
</html